<style>
    body.dark-theme {
        color: #dcdcdc;
        background-color: #1a1a1a;
    }

    .dark-theme>.site-header {
        border-bottom: 1px solid #393939;
    }

</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const link = document.getElementById("dark-theme-link");
        link.addEventListener("click", function (e) {
            e.preventDefault();
            document.body.classList.toggle("dark-theme");
            link.innerHTML = document.body.classList.contains("dark-theme") ? "☀️" : "🌙";
        });
        link.innerHTML = "🌙";
    });

</script>
