<script>
    document.addEventListener('DOMContentLoaded', function () {
        const link = document.getElementById("dark-theme-link");
        link.addEventListener("click", function (e) {
            e.preventDefault();
            document.body.classList.toggle("dark-theme");
            const isDark = document.body.classList.contains("dark-theme");
            link.innerHTML = isDark ? "☀️" : "🌙";
            localStorage.setItem("dark-theme", isDark);
        });
        const isDark = localStorage.getItem("dark-theme");
        if (isDark) {
            document.body.classList.add("dark-theme");
            link.innerHTML = "☀️";
        } else {
            link.innerHTML = "🌙";
        }
    });

</script>
