pre, code {
    font-family: "Menlo","Inconsolata","Consolas","Roboto Mono","Ubuntu Mono","Liberation Mono","Courier New",monospace;
    font-size: 0.9375em;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}
